{% extends 'base.html' %}

{% block title %}
<title>Monitores</title>
{% endblock title %}

{% block texto_header %}
<h2>
    Monitor
</h2>
{% endblock texto_header %}

{% block despues_del_header %}
<p>
    <a href={% url 'lista_monitores' %}>Volver</a>
</p>



<p>
    <ul>
        <li>
            {{monitor.marca}}
        </li>
        <li>
            {{monitor.modelo}}
        </li>
        <li>
            {{monitor.precio}}
        </li>
        <li>     
            <p>Foto</p>   
            {% if request.user.monitores.avatars %}
            <img src={{request.user.monitores.avatars.url}} alt="" height="200px">
            {% endif %}
        </li> 
    </ul>
</p>
{% endblock despues_del_header %}