{% extends 'base.html' %}

{% block title %}
<title>Crear Celular</title>
{% endblock title %}

{% block texto_header %}
<h3>
    Registra tu celular
</h3>
{% endblock texto_header %}

{% block despues_del_header %}
<p>
    <a href={% url 'lista_celulares' %}>Volver</a>
</p>
<p>
    <form action={% url 'crear_celular' %} method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <table>
            {{form.media}}
            {{form.as_table}}
        </table>
        <button>Crear</button>
    </form>
</p>
{% endblock despues_del_header %}