{% extends 'base.html' %}

{% block title %}
<title>Celulares</title>
{% endblock title %}

{% block texto_header %}
<h2>
    Celular
</h2>
{% endblock texto_header %}

{% block despues_del_header %}
<p>
    <a href={% url 'lista_celulares' %}>Volver</a>
</p>



<p>
    <ul>
        <li>
            {{celular.marca}}
        </li>
        <li>
            {{celular.modelo}}
        </li>
        <li>     
            <p>Foto</p>   
            {% if celular.avatars %}
            <img src={{celular.avatars.url}} alt="" height="200px">
            {% endif %}
        </li>
        <li>
            {{celular.descripcion | safe}}
        </li>
        <li>
            {{celular.fecha_registro}}
        </li>
    </ul>
</p>
{% endblock despues_del_header %}