{% extends 'base.html' %}

{% block title %}
<title>Lista de Celulares</title>
{% endblock title %}

{% block texto_header %}
<h2>
    Lista de Celulares
</h2>
{% endblock texto_header %}

{% block despues_del_header %}
<p>
    <a href={% url 'crear_celular' %}>Registrar celular</a>
</p>

<p>
    <form action= ''method="get">
        <p>Buscar Celular</p>
        <input type = "text" name="marca" id="marca">
        <input type = "submit" value = "Enviar"> 
        
    </form>
</p>

<p>
    {% if lista_celulares %}
    <ul>
        {% for celular in lista_celulares %}
        <li>{{celular}}</li>
        {% endfor %}
    </ul>
    {% else %}
    No se encontraron datos.
    {% endif %}
</p>
{% endblock despues_del_header %}